<section id="installation" class="scroll-mt-24 mb-24">
    <h1>Installation</h1>
    <p class="text-xl text-neutral-600 mb-8">Install Jackal in your system.</p>
    <h3>Quick Setup</h3>
    <pre><code>$ git clone <%= data.repoLink %>
$ cd Jackal-Projects
$ make jackal
$ ./jackal </code></pre>
</section>